<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>firstOscillatorVolume</key>
        <real>0.4</real>
        <key>secondOscillatorVolume</key>
        <real>0.7</real>
        <key>firstOscillatorWaveForm</key>
        <integer>1</integer>
        <key>secondOscillatorWaveForm</key>
        <integer>0</integer>
        <key>secondOscillatorRegisterType</key>
        <integer>4</integer>
        <key>phaseShift</key>
        <real>0</real>
        <key>reverb</key>
        <real>60</real>
    </dict>
</plist>
